body {
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    text-align: center;
    margin-top: 100px;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}

#weatherResult {
    margin-top: 20px;
    font-size: 16px;
}
